<!DOCTYPE html>
<html>
<head>
  <title>User Details</title>
</head>
<body>
  <h1>User Details</h1>
  <p>Name: <%= newUser.name %></p>
  <p>Age: <%= newUser.age %></p>
  <p>Email: <%= newUser.email %></p>
  <a href="/">Back</a>
</body>
</html>
