<!DOCTYPE html>
<html>
<head>
  <title>Book List</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Book List</h1>
  <ul>
    <% books.forEach(book => { %>
      <li><strong><%= book.title %></strong> by <%= book.author %> (Year: <%= book.publicationYear %>)</li>
    <% }); %>
  </ul>
  <a href="/add">Add a New Book</a>
</body>
</html>
